name: Build
on: [push, pull_request, workflow_dispatch]

jobs:
  build_fbink:
    name: einkvnc
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        submodules: recursive
    - name: Install stable toolchain
      uses: actions-rs/toolchain@v1
      with:
        profile: minimal
        toolchain: stable
        override: true
        target: arm-unknown-linux-musleabihf
    - name: Install Cross
      run: cargo install cross
    - name: Build
      run: cd client && cross build --release --target=arm-unknown-linux-musleabihf
    - name: Upload release archive
      uses: actions/upload-artifact@v4
      with:
        name: eInkVnc
        path: client/target/arm-unknown-linux-musleabihf/release/einkvnc
